<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head> 
<body>
  <header>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos</p>
    </header>
          <nav>
            <ul> 
                <li><a href="/" class="navigation">Página Principal</a></li>
                <li><a href="author" class="navigation">Autores</a></li>
            </ul>
        </nav>
    <section>
    <h2>Alicia González Cardenas</h2>
    <h2>Cristina Sánchez González</h2>
     <img class="vertical" src="images/foto.jpg" title="photo" height="315">
    </section>
  </body>
</html> 